nav {
  display: flex;
  align-items: center;
  padding: 0%;
  margin: 0%;
  justify-content: space-between;
  background-color: rgb(250, 235, 215);
}
/* ul {
  flex: 1;
  text-align: right;
} */
ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  margin: 14px;
  position: relative;
}
a {
  text-decoration: none;
  text-align: left;
  align-items: center;
  font-size: 19px;
  color: rgb(100, 47, 4);
}
nav a {
  font-size: 16px;
  line-height: 1.5;
}
ul li a:hover {
  font-size: 150%;
  display: block;
}

.hero-section {
  /* background-color: rgb(250, 235, 215); */
  background:
  url(https://cdn.pixabay.com/photo/2020/03/17/18/37/moutain-4941506_1280.jpg);
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 12px;
  text-align: center;
  /* height: 100px ;
  width: 100px; */
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}

.hero-section h1 {
  color: rgb(100, 47, 4);
  font-size: 50px;
  text-align: center;
  margin-bottom: 18px;
}
.hero-section p {
  color: black;
  font-size: 19px;
  text-align: center;
  margin-bottom: 50px;
}
button {
  background-color: rgb(100, 47, 4);
  color: azure;
  border: none;
  padding: 12px 30px;
  /* margin: auto; */
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: inset;
  margin-bottom: 50px;
}

.hero-image {
  height: 150px;
  opacity: 800%;
  background-position: center;
}
.why-us {
  background-color: aliceblue;
  text-align: center;
  padding: 40px 10px;
}
.why-us h2 {
  color: rgb(80, 45, 2);
  font-size: 30px;
  margin-bottom: 4px;
}
.why-us .start {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 600px;
  margin: 0 auto 50px;
  color: black;
  font-size: 15px;
  line-height: 1.5;
}
.why {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  justify-content: center;
}
.whyone {
  background: rgb(250, 235, 215);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.whyone p {
  color: black;
  font-size: 15px;
  line-height: 1.5;
}
.whyone h3 {
  color: rgb(80, 45, 2);
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.footer {
  background-color: whitesmoke;
  color: rgb(180, 89, 33);
  align-items: center;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}
.footer-bottom {
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  color: grey;
}
.company-about p {
  color: black;
  font-size: 15px;
}
.ContactUs {
  color: black;
  font-size: 15px;
}
.intro {
  background-color: aliceblue;
}
.contact {
  background: url(https://cdn.pixabay.com/photo/2017/07/15/16/21/water-2506944_1280.jpg);
  background-color: aliceblue;
  padding: 50px 20px;
  text-align: center;
}

.contact h2 {
  color: rgba(120, 51, 6, 0.886);
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}
.contact p {
  color: black;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 30px;
}
.contact-form {
  background: rgb(225, 215, 201);
  margin: 0 auto;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 1px 8px;
  max-width: 700px;
  max-height: 700px;
}
.contact-group {
  text-align: center;
  margin-bottom: 30px;
  font-size: larger;
}
label {
  display: block;
  color: rgb(77, 36, 3);
  margin-bottom: 10px;
}
input,
textarea {
  padding: 20px;
  border-radius: 5px;
  color: rgb(29, 13, 2);
  border: 2px;
}
.About-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(77, 45, 5);
  padding: 0px;
}
.About-section h1 {
  font-size: 50px;
  color: white;
}
.About-section p {
  font-size: 30px;
  color: azure;
  font-style: oblique;
}
.history-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(248, 239, 231);
  padding-top: 20px;
}
.history-section h1 {
  font-size: 40px;
  color: rgb(11, 82, 143);
  text-align: center;
}
.history-section p {
  font-size: 17px;
  color: black;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.our-Mision {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  background-color: rgb(234, 234, 234);
  padding-bottom: 15px;
}
.our-Mision h2 {
  color: rgb(10, 72, 127);
  font-size: 35px;
}
.our-Mision p {
  color: black;
  font-size: 16px;
}
.services-section {
  background: url(https://cdn.pixabay.com/photo/2017/08/06/17/34/airplane-2594476_1280.jpg);
  padding-top: 35px;
  padding-bottom: 90px;
  padding-left: 12px;
  text-align: center;
}
.services-section h1 {
  color: white;
  font-size: 45px;

  
}
.services-section p {
  color: white;
  font-size: 22px;
}
.services-section button {
  padding-left: 50px;
}
.service-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 15px;
  background-color: rgb(250, 236, 212);
  padding-left: 15px;

}
.service-one h3 {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(126, 60, 2);
}
.service-one p {
  font-size: 19px;
  color: black(126, 60, 2);
}

.service-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 20px;
  background-color: rgb(250, 236, 212);
  
}

.service-two h3 {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(126, 60, 2);
}

.service-two p {
  font-size: 19px;
  color: black(126, 60, 2);
}
.service-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 25px;
  background-color: rgb(250, 236, 212);
  padding-left: 15px;
  
}

.service-three h3 {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(126, 60, 2);
}
.service-three p {
  font-size: 19px;
  color: black(126, 60, 2);
}

.destinations {
  background-color: aliceblue;
  padding: 70px 30px;
  text-align: center;
}
.destinations h2 {
  font-size: 35px;
  color: rgb(129, 60, 3);
  margin-bottom: 10px;
}
.destinations .note {
  color: black;
  font-size: 18px;
}
.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  align-items: start;
  padding-left: 1;
}

 /* .hero-redo {
  display: grid;
  grid-template-columns: auto;
  background-color: rgb(214, 182, 101);
  text-align: center;
} */

/* .services {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(249, 247, 247);
  padding-left: 50px;
  margin-top: 50px;
  column-gap: 20px ;

} */

img{
  border-radius: 50px;
 
  
}
 /* .service-item-one{
  background-color: greenyellow;
  padding: 10px;
  border: 2px solid black;
  box-shadow: black;
  border-radius: 20px;
  }  */